	<p>goal_type: {{bet.goaltype}}</p>
	<p>goal to hit: {{bet.goal}}</p>
	<p>amount bet: {{bet.betamount}}</p>
	<p>status: {{bet.status}}</p>
	<p>start: {{bet.startdate}}</p>
	<p>end: {{bet.enddate}}</p>
	<p>charity: {{bet.charity}}</p>
